<div fxLayout="column">
    <div class="Header" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-card class="inHeader">
            <button mat-button class="button1" (click)="addBox()">Add Box</button>
        </mat-card>
        <label class="label">Click to Turn {{value === 'OFF' ? 'ON' : 'OFF'}} keyboard</label>
        <mat-card class="inHeader2">
            <button class="button2" mat-button [ngClass]="{'afterClickButton': value === 'ON'}"
                (click)="KeywordButton(value === 'OFF' ? 'OFF' : 'ON')">{{value}}</button>
        </mat-card>
    </div>

    <div class="boxes">
        <label class="label2">* Use "A", "S", "D", "W" keys to move box</label>
        <mat-card id="svgbox" class="Box" fxLayout="row" fxLayoutAlign="space-around center">
            <!-- <svg [attr.width]="mainWidth" [attr.height]="mainHeight">
                <rect [attr.x]="xData" [attr.y]="yData" [attr.height]="heightData" [attr.width]="widthData"
                    style="fill:green;stroke:black;stroke-width:5;opacity:0.5" />
            </svg> -->

            <!-- <img onclick="boxClick()" id="img" /> -->
        </mat-card>
    </div>
</div>