.Header {
    margin-top: 2%;
    margin-bottom: 55px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    padding: 2%;
    place-content: center flex-start;
    align-items: center;
    width: 100%;
    background-color: yellowgreen;
}

.inHeader{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    padding: 0%;
    margin-left: 15%;
}

.inHeader2{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
    padding: 0%;
    margin-right: 24%;
}

.label{
    margin-left: 38%;
}
  
.button {
background-color: grey;
}

.button2 {
    background-color: red;
    color: white;
}

.afterClickButton {
    background-color: green;
    color: white;
}

.Box {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    margin-left: 5%;
    line-height: 3900%;
    width: 90%;
    -webkit-user-modify: read-write-plaintext-only;
    flex-flow: wrap;
}

.boxes{
    flex-flow: wrap;
    display: flex;
}

.label2{
    margin-top: -2.5%;
    margin-left: 2%;
    color: red;
}

.button1{
    background-color: black;
    color: white;
}